{% if isRecursiveAssociation %}
{% set recursiveRoute = ''  %}
{% for recursiveAssocField in recursiveAssocFields %}
   {% set recursiveRoute = recursiveRoute ~ '/' ~ recursiveAssocField.target_entity_tableize ~ '/{' ~ recursiveAssocField.target_entity_tableize ~ '_id}' %}
{% endfor %}
{% endif %}

{% if not isOneToOne %}
{% if 'index' in actions %}
{% if isRecursiveAssociation %}
{{ route_name_prefix }}:
    path:  {{ recursiveRoute }}/{{ entityTableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:index" }
    methods: [GET]
{% elseif (association == 1) and (isManyToMany == false) %}
{{ route_name_prefix }}:
    path:  /{{ assocEntityTableize }}/{{ '{' }}{{ assocEntityTableize }}_id{{ '}' }}/{{ entityTableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:index" }
    methods: [GET]
{% else %}
{{ route_name_prefix }}:
    path:  /{{ entityTableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:index" }
    methods: [GET]
{% endif %}
{% endif %}
{% if 'new' in actions %} 
{% if isRecursiveAssociation %}
{{ route_name_prefix }}_new:
    path:  {{ recursiveRoute }}/{{ entityTableize }}/new
    defaults: { _controller: "{{ bundle }}:{{ entity }}:new" }
    methods: [POST]
{% elseif (association == 1) and (isManyToMany == false) %}
{{ route_name_prefix }}_new:
    path:  /{{ assocEntityTableize }}/{{ '{' }}{{ assocEntityTableize }}_id{{ '}' }}/{{ entityTableize }}/new
    defaults: { _controller: "{{ bundle }}:{{ entity }}:new" }
    methods: [POST]
{% else %}
{{ route_name_prefix }}_new:
    path:  /{{ entityTableize }}/new
    defaults: { _controller: "{{ bundle }}:{{ entity }}:new" }
    methods: [POST]
{% endif %}

{% if (isManyToMany == true) and (isOwingSide == true)  %}
{% for field in assoc_many_to_many_fields %}
{{ route_name_prefix }}_{{ field.name }}_manage:
    path:  /{{ entityTableize }}/{{ '{' }}{{ entityTableize }}_id{{ '}' }}/{{ field.target_entity_tableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:manage{{ entity }}{{ field.target_entity_class }}" }
    methods: [POST]
{% endfor %}
{% endif %}
{% endif %}

{% if 'show' in actions %}
{% if isRecursiveAssociation %}
{{ route_name_prefix }}_show:
    path:  {{ recursiveRoute }}/{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:show" }
    methods: [GET]    
{% elseif (association == 1) and (isManyToMany == false) %}
{{ route_name_prefix }}_show:
    path:  /{{ assocEntityTableize }}/{{ '{' }}{{ assocEntityTableize }}_id{{ '}' }}/{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:show" }
    methods: [GET]
{% else %}
{{ route_name_prefix }}_show:
    path:  /{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:show" }
    methods: [GET]
{% endif %}
{% endif %}

{% if 'edit' in actions %}
{% if isRecursiveAssociation %}
{{ route_name_prefix }}_edit:
    path:  {{ recursiveRoute }}/{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:edit" }
    methods: [POST]
{% elseif (association == 1) and (isManyToMany == false) %}
{{ route_name_prefix }}_edit:
    path:  /{{ assocEntityTableize }}/{{ '{' }}{{ assocEntityTableize }}_id{{ '}' }}/{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:edit" }
    methods: [POST]
{% else %}
{{ route_name_prefix }}_edit:
    path:  /{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:edit" }  
    methods: [POST]
{% endif %}
{% endif %}

{% if 'delete' in actions %}
{% if isRecursiveAssociation %}
{{ route_name_prefix }}_delete:
    path:  {{ recursiveRoute }}/{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:delete" }
    methods: [DELETE]
{% elseif (association == 1) and (isManyToMany == false) %}
{{ route_name_prefix }}_delete:
    path:  /{{ assocEntityTableize }}/{{ '{' }}{{ assocEntityTableize }}_id{{ '}' }}/{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:delete" }
    methods: [DELETE]
{% else %}
{{ route_name_prefix }}_delete:
    path:  /{{ entityTableize }}/{id}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:delete" }  
    methods: [DELETE]
{% endif %}
{% endif %}
{% else %}
{{ route_name_prefix }}_{{ oneToOneAssocFields.target_entity|lower }}_manage:
    path:   /{{ oneToOneAssocFields.target_entity_tablize }}/{{ '{' }}{{ oneToOneAssocFields.target_entity_tablize }}_id{{ '}' }}/{{ entityTableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:manage{{ entity }}{{ oneToOneAssocFields.target_entity }}" }
    methods: [POST]
    
{{ route_name_prefix }}_{{ oneToOneAssocFields.target_entity|lower }}_show:
    path:   /{{ oneToOneAssocFields.target_entity_tablize }}/{{ '{' }}{{ oneToOneAssocFields.target_entity_tablize }}_id{{ '}' }}/{{ entityTableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:show" }
    methods: [GET]
    
{{ route_name_prefix }}_{{ oneToOneAssocFields.target_entity|lower }}_delete:
    path:   /{{ oneToOneAssocFields.target_entity_tablize }}/{{ '{' }}{{ oneToOneAssocFields.target_entity_tablize }}_id{{ '}' }}/{{ entityTableize }}
    defaults: { _controller: "{{ bundle }}:{{ entity }}:delete" }
    methods: [DELETE]
{% endif %}
