services:
{% for field in assoc_many_to_many_fields %}
    {{ entitySingular }}.form.type.{{ entitySingular }}_{{ field.name }}:
        class: {{ namespace }}\Form\{{ entity }}{{ field.target_entity_class }}Type
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type }
{% endfor %}
