{{ entity_bundle }}:
    properties:
{% for field in fields_with_types %}
        {{ field.name }}:
{% if field.nullable != true %}
            - NotBlank: 
                message: The {{ field.name|capitalize }} should not be null.
{% endif %}
{% if field.type == 'string' and file_upload_field == null %}
            - Type:
                type: {{ field.type }}
                message: The value {{ '{{' }} value {{ '}}' }} is not a valid {{ '{{' }} type {{ '}}' }}.
{% if field.length is defined %}
            - Length:
                min: 1
                max: {{ field.length }}
                minMessage: '{{ field.name|capitalize }} must be at least {{ '{{' }} limit {{ '}}' }} characters long'
                maxMessage: '{{ field.name|capitalize }} cannot be longer than {{ '{{' }} limit {{ '}}' }} characters'
{% endif %}
{% elseif file_upload_field != null and field.name == file_upload_field %}
            - File:
                mimeTypesMessage: Please upload a valid file.
{% endif %}
{% if field.type == 'date' %}
            - Date: 
                message: The {{ field.name|capitalize }} is not a valid date.
{% elseif field.type == 'datetime' %}
            - DateTime: 
                message: The {{ field.name|capitalize }} is not a valid datetime.
{% elseif field.type == 'time' %}
            - Time: 
                message: The {{ field.name|capitalize }} is not a valid time.
{% endif %}
{% if field.type == 'integer' or field.type == 'smallint' or field.type == 'bigint' %}
            - Type:
                type: integer
                message: The value {{ '{{' }} value {{ '}}' }} is not a valid {{ '{{' }} type {{ '}}' }}.
{% endif %}
{% if field.type == 'boolean' %}
            - Type:
                type: boolean
                message: The value {{ '{{' }} value {{ '}}' }} is not a valid {{ '{{' }} type {{ '}}' }}.
{% endif %}
{% endfor %}
