<?php

namespace DataBundle\Entity;

use Symfony\Component\Security\Core\User\UserInterface;

class UserDecorator implements UserInterface, \Serializable 
{
    protected ${{ entity_lowercase }};
    
    public function __construct({{ entity }} ${{ entity_lowercase }})
    {
        $this->{{ entity_lowercase }} = ${{ entity_lowercase }};
    }
    
    public function getUserName()
    {
        return $this->{{ entity_lowercase }}->get{{ login_lookup_username|capitalize }}();
    }
    
    public function getPassword()
    {
        return $this->{{ entity_lowercase }}->get{{ login_lookup_password|capitalize }}();
    }
    
    public function getSalt()
    {
        return null;
    }
    
    public function getRoles()
    {
        return array('ROLE_USER');
    }
    
    public function eraseCredentials()
    {
    }
    
    public function serialize()
    {
        return null;
    }

    public function unserialize($serialized)
    {
    }
}