<?php

namespace {{ namespace }}\Form{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
{% if not configure_options_available %}
use Symfony\Component\OptionsResolver\OptionsResolverInterface;
{% endif %}
use Symfony\Component\Form\Extension\Core\Type\DateType;
use Symfony\Component\Form\Extension\Core\Type\DateTimeType;
{% if fields_associated|length > 0 %}
use Symfony\Bridge\Doctrine\Form\Type\EntityType;
use Symfony\Component\Form\Extension\Core\Type\CollectionType;
{% endif %}
{% if file_field_name != null %}
use Symfony\Component\Form\Extension\Core\Type\FileType;
{% endif %}
use Symfony\Component\OptionsResolver\OptionsResolver;
{% endblock use_statements %}

{% block class_definition %}
class {{ form_class }} extends AbstractType
{% endblock class_definition %}
{
{% block class_body %}
    {%- if fields_with_types|length > 0 or fields_associated|length > 0 %}
    /**
     * @param FormBuilderInterface $builder
     * @param array $options 
     */
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder
{% for field in fields_with_types %}
    {% if file_field_name == field.name %}
        ->add('{{ field.name }}', FileType::class, array(
                    'data_class' => null
                    ))
    {% elseif field.type == 'date' %}
        ->add('{{ field.name }}', DateType::class, array(
                    'widget' => 'single_text',
                    ))
    {% elseif field.type == 'datetime' %}
        ->add('{{ field.name }}', DateTimeType::class, array(
                    'widget' => 'single_text',
                    ))
    {% else %}
        ->add('{{ field.name }}')
    {% endif %}
{% endfor %}
{% for field in fields_associated %}
            ->add('{{ field.name }}', {{field.widget}}, array(
{% if field.type == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_ONE') or field.type == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE')%}
                'class' => '{{field.class}}',
                'choice_label' => '{{field.choice_label}}',
                'placeholder' => 'Please choose',
                'empty_data' => null,
                'required' => false
 {%endif %}

{% if field.type == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_MANY') %}
                'class' => '{{field.class}}',
                'choice_label' => '{{field.choice_label}}',
                'expanded' => true,
                'multiple' => true
{%endif %}

{% if field.type == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_MANY') %}
                'entry_type' => '{{ bundle }}\Form\{{ field.entry_type }}',
                'allow_add'    => true,
                'allow_delete' => true,
                'by_reference' => false,
                'prototype' => true,
{% endif %}
            )) 
{% endfor %}
        ;
    }
    {% endif %}

    {%- if not configure_options_available %}

    /**
     * Sets the default options for this type.
     *
     * This method should be removed when upgrading to Symfony 2.7.
     *
     * @param OptionsResolverInterface $resolver
     */
    public function setDefaultOptions(OptionsResolverInterface $resolver)
    {
        $this->configureOptions($resolver);
    }
    {% endif %}

    /**
     * @param OptionsResolver $resolver
     */
    public function configureOptions(OptionsResolver $resolver)
    {
        $resolver->setDefaults(array(
            'data_class' => '{{ entity_bundle }}\Entity{{ entity_namespace ? '\\' ~ entity_namespace : '' }}\{{ entity_class }}',
            'csrf_protection' => false
        ));
    }

    /**
     * @return string
     */
    public function getBlockPrefix()
    {
        return null;
    }

{% endblock class_body %}
}
