<?php 

namespace {{ namespace }}\Form{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\Form\Extension\Core\Type\TextType;
{% if fields|length > 0 %}
use Symfony\Bridge\Doctrine\Form\Type\EntityType;
use Symfony\Component\Form\Extension\Core\Type\CollectionType;
{% endif %}
{% if file_field_name != null %}
use Symfony\Component\Form\Extension\Core\Type\FileType;
{% endif %}
use Symfony\Component\OptionsResolver\OptionsResolver;
use Symfony\Component\HttpFoundation\RequestStack;
use Doctrine\ORM\EntityManager;
use {{ namespace }}\Form\EventListener\{{ manage_class_name }}Subscriber;
use {{ namespace }}\Form\DataTransformer\{{ manage_class_name }}Transformer;
{% endblock use_statements %}

{% block class_definition %}
class {{ manage_class_name }}Type extends AbstractType
{% endblock class_definition %}
{
{% block class_body %}
    protected $em;
    
    public function __construct(EntityManager $em)
    {
        $this->em = $em;
    }
    
    {%- if fields|length > 0 %}
    /**
     * @param FormBuilderInterface $builder
     * @param array $options 
     */
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder
            ->add('{{ field_name }}', CollectionType::class, array(
                'entry_type' => TextType::class,
                'invalid_message' => 'One or more book provided is invalid',
                'allow_add'    => true,
                'allow_delete' => true,
                'by_reference' => false,
                'prototype' => true,
            ));
            
        $builder->addEventSubscriber(new {{ manage_class_name }}Subscriber());
        $builder->get('{{ field_name }}')->addModelTransformer(new {{ manage_class_name }}Transformer($this->em));
    }
    {% endif %}
        
    /**
     * @param OptionsResolver $resolver
     */
    public function configureOptions(OptionsResolver $resolver)
    {
        $resolver->setDefaults(array(
            'data_class' => '{{ entity_bundle }}\Entity{{ entity_namespace ? '\\' ~ entity_namespace : '' }}\{{ entity_class }}'
        ));
    }

    /**
     * @return string
     */
    public function getBlockPrefix()
    {
        return null;
    }
{% endblock class_body %}
}
