<?php

namespace {{ namespace }}\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

use Symfony\Component\HttpFoundation\Request;
use Nelmio\ApiDocBundle\Annotation\ApiDoc;
use CoreBundle\Controller\CoreController;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\ParamConverter;
{% if 'annotation' == format -%}
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Method;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
{%- endif %}
use {{ entity_bundle }}\Entity\{{ entity }};

/**
 * {{ entity }} controller.
 *
{% if 'annotation' == format %}
 * @Route("/{{ route_prefix }}")
{% endif %}
 */
class {{ entity_class }}Controller extends CoreController
{

    {%- if 'index' in actions %}
        {%- include 'crud/actions/index.php.twig' %}
    {%- endif %}

    {%- if 'new' in actions %}
        {%- include 'crud/actions/new.php.twig' %}
    {%- endif %}

    {%- if 'show' in actions %}
        {%- include 'crud/actions/show.php.twig' %}
    {%- endif %}

    {%- if 'edit' in actions %}
        {%- include 'crud/actions/edit.php.twig' %}
    {%- endif %}

    {%- if 'delete' in actions %}
        {%- include 'crud/actions/delete.php.twig' %}
    {%- endif %}
    
}
