{% extends 'PetkoparaCrudGeneratorBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - teacher
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View teacher <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ teacher.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Name</strong></p>
        <p>
            {{ teacher.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Emailid</strong></p>
        <p>
            {{ teacher.emailid }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Password</strong></p>
        <p>
            {{ teacher.password }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Status</strong></p>
        <p>
            {{ teacher.status }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Createddate</strong></p>
        <p>
            {% if teacher.createddate %}{{ teacher.createddate|date('Y-m-d') }}{% endif %}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('teachers') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('teachers_edit', { 'id':  teacher.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('teachers_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('teachers_delete', { 'id': teacher.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

