{# Macro used to generate the associate mapping fields,
If entity have Many to One relation #}
{% macro associateFields(assoc_entity_fields, recursiveChild) %}
{% set assoc_route = false %}
{% set break = false %}
{% for tableName, columns in assoc_entity_fields %}
{% set table_name = tableName|split('_')|join()|title %}
{% if assoc_entity_fields|length > 1 and not break %}
{% set recursive_parent_route = tableName %}
{% set recursive_parent = table_name %}
{% set break = true %} 
{% endif %}
    private static ${{ table_name|lower }}Id;
    
    private function set{{ table_name }}Id(${{ table_name|lower }}Id)
    {
        self::${{ table_name|lower }}Id = ${{ table_name|lower }}Id;
        
        return $this;
    }
    
    private function get{{ table_name }}Id()
    {
        return self::${{ table_name|lower }}Id;
    }
    
    private function {{ table_name|lower }}Details()
    {
        ${{ table_name|lower }}Data = array(
{% for field in columns %}
{% if field.type == 'string' or field.type == 'text' %}
            '{{ field.name }}' => '{{ field.value }}',
{% endif %}
{% if field.type == 'date' %}
            '{{ field.name }}'=> '1995-05-05',
{% elseif field.type == 'time' or field.type == 'datetime' %}
            '{{ field.name }}'=> '1995-05-05 10:10:10',
{% endif %}
{% if field.type == 'integer' or field.type == 'smallint' or field.type == 'bigint' %}
            '{{ field.name }}' => 2,
{% endif %}
{% if field.type == 'boolean' %}
            '{{ field.name }}' => 1,
{% endif %}
{% if field.type == 'float' or field.type == 'decimal' %}
            '{{ field.name }}' => 10.01,
{% endif %}
{% if field.type == 2 %}
            '{{ field.name }}' => 1,
{% endif %}
{% endfor %}
        );
        
        return ${{ table_name|lower }}Data;
    }
    
    public function testNew{{ table_name }}Action()
    {
{% if assoc_entity_fields|length > 1 and assoc_route == true %}
        $url = $this->generateUrl('{{ table_name|lower }}_new', array(
            '{{ recursive_parent_route }}_id' => $this->get{{ recursive_parent }}Id(),
        ));
{% else %}
{% set assoc_route = true %}
        $url = $this->generateUrl('{{ table_name|lower }}_new');
{% endif %}
        $fieldWithValues = $this->{{ table_name|lower }}Details();
        
        $crawler = $this->doRequest('POST', $url, $fieldWithValues);
        
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for new {{ table_name }} POST action");
        
        ${{ table_name|lower }}Result = $this->getResponseInArray($this->client->getResponse());
{% set break = false %}
{% for field in columns if not break %}
        $this->set{{ table_name }}Id(${{ table_name|lower }}Result['{{ field.identifier }}']);
{% set break = true %}        
{% endfor %}
    }
{% endfor %}
{% endmacro %}

{# Macro used to generate the associate or normal route's for actions. #}
{% macro associateRoute(actions, association, isManyToMany, route_name_prefix, assoc_entity_fields) %}
{% if (association == 1) and (isManyToMany == false) %}
        $url = $this->generateUrl('{{ route_name_prefix }}_{{ actions }}', array(
{% for tableName, columns in assoc_entity_fields %}
{% set table_name = tableName|split('_')|join()|title %}
            '{{ tableName }}_id' => $this->get{{ table_name }}Id(),
{% endfor %}
            'id' => $this->getId()
        ));
{% else %}
        $url = $this->generateUrl('{{ route_name_prefix }}_{{ actions }}', array(
            'id' => $this->getId()
        ));
{% endif %}
{% endmacro %}

{# Macro used to generate the associate mapping fields with values. #}
{% macro fieldsWithValue(fields, fileUploadField) %}
{% for field in fields %}
{% if field.type == 'string' and field.name != fileUploadField or field.type == 'text' %}
            '{{ field.name }}' => '{{ field.value }}',
{% endif %}
{% if field.type == 'date' %}
            '{{ field.name }}'=> '1995-05-05',
{% elseif field.type == 'time' or field.type == 'datetime' %}
            '{{ field.name }}'=> '1995-05-05 10:10:10',
{% endif %}
{% if field.type == 'integer' or field.type == 'smallint' or field.type == 'bigint' %}
            '{{ field.name }}' => 2,
{% endif %}
{% if field.type == 'boolean' %}
            '{{ field.name }}' => 1,
{% endif %}
{% if field.type == 'float' or field.type == 'decimal' %}
            '{{ field.name }}' => 10.01,
{% endif %}
{% if field.type == 2 %}
            '{{ field.name }}' => 1,
{% endif %}
{% endfor %}
{% endmacro %}

{# Macro used to generate the file upload method #}
{% macro fileUploadMethod(entity_class_lowercase, current_entity_fields, file_upload_field) %}
    private function {{ entity_class_lowercase }}FileUploadField($file = null)
    {
        $file = $file ? $file : $this->getParameter('testing_file_name');
        $fileLocation = $this->getParameter('testing_file_directory') . $file;
        
        ${{ entity_class_lowercase }}Data = array(
{% for field in current_entity_fields %}
{% if field.type == 'string' and file_upload_field == field.name %}
            '{{ field.name }}' => $fileLocation,
        );
{% endif %}
{% endfor %}

{% for field in current_entity_fields %}
{% if field.type == 'string' and file_upload_field == field.name %}
        ${{ field.name }}File = new UploadedFile(${{ entity_class_lowercase }}Data['{{ field.name }}'], 'API_docs.png');
        ${{ entity_class_lowercase }}Data['{{ field.name }}'] = ${{ field.name }}File;
{% endif %}
{% endfor %}
        
        return ${{ entity_class_lowercase }}Data;
    }
{% endmacro %}