<html>
    <head>
        <title> {% block title %}{% endblock %} </title>
    
    {% block bodyStyles %}{% endblock %}
    {% block script %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    </body>
</html>