#container{
    position: relative;
}
#login{
    position: absolute;
    bottom: 50%;
    left: 30%;
    width: 40%;
    height: 320px;
    box-shadow: 0 2px 15px rgba(1, 0, 0, 1);
}
h3{
    margin-bottom: 10px;
}
img { 
    width: 100%;
    height: 98%;
    opacity: 0.25;
}
input[type=text]{
    width: 300px;
}
input[type=password]{
    width: 300px;
    margin-bottom: 30px;
}
.inner-addon { 
    position: relative; 
    margin-left: 100px;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
}

.left-addon .glyphicon  { 
    left:  0px;
}
.right-addon .glyphicon { 
    right: 0px;
}

.left-addon input  { 
    padding-left:  30px; 
}
