#body{
    margin: 10px;
    padding: 20px;
    height: 60%;
}
ul li{
    list-style: none;
    padding: 5px;
}
table tr td{
    padding: 5px;
}
#user_form{
    border: 1px #6d6 solid;
    margin: 10px 100px;
    padding: 10px;
}
.form_element{
    margin-left: 10%;
}

#user_form_view{
    border: 1px #5eb5e0 solid;
    margin: 10px 150px;
    padding: 25px;
}
h2{
    text-align: center;
}
.buttons{
    margin-left: 40%;
}
#userHeader{
    text-align: center;
}
#addLink{
    text-align: right;
}
#userDetails{
    margin-left: 10%;
}
.logout{
    float: right;
    margin: 5px;
}

