<?php 

namespace {{ namespace }}\Form\DataTransformer;

{% block use_statements %}
use {{ tareget_entity }};
use Doctrine\Common\Persistence\ObjectManager;
use Symfony\Component\Form\DataTransformerInterface;
use Symfony\Component\Form\Exception\TransformationFailedException; 
{% endblock use_statements %}

{% block class_definition %}
class {{ manage_method }}Transformer implements DataTransformerInterface
{% endblock class_definition %}
{
{% block class_body %}
    private $manager;

    public function __construct(ObjectManager $manager)
    {
        $this->manager = $manager;
    }
    
    /**
     * Method to convert model data to form.
     *
     * @param  Model|null $entity
     * @return string|array
     */
    public function transform($entity)
    {
        return $entity;
    }
    
    /**
     * Method to convert form data to model.
     *
     * @param  array $entities
     * @return {{ tareget_entity_class }}|null
     * @throws TransformationFailedException if object (issue) is not found.
     */
    public function reverseTransform($entities)
    {
        if (!$entities) {
            return;
        }

        $data = array();
        foreach ($entities as $key => $entity) {
            $model = $this->manager->getRepository('{{ entity_bundle }}:{{ tareget_entity_class }}')->find($entity);
            if (null === $model) {
                throw new TransformationFailedException('Failed transformation');
            }
            $data[$key] = $model;
        }

        return $data;
    }
{% endblock class_body %}
}