{% macro associateParameter(recursiveAssocFields) %}
{% set parameters = '' %}
{% for key, recursiveAssocField in recursiveAssocFields %}
{% set parameters = parameters ~ ' $' ~ recursiveAssocField.field_name ~ 'Id,' %}
{% endfor %}
{{ parameters|trim(',', 'right') }}
{% endmacro %}

{% macro paramConverter(recursiveAssocFields, entity_bundle) %}
{% for key, recursiveAssocField in recursiveAssocFields %}
     * @ParamConverter("{{ recursiveAssocField.field_name }}Id", class="{{ entity_bundle }}:{{ recursiveAssocField.target_entity_class }}", options={"id" = "{{ recursiveAssocField.target_entity_tableize }}_id"})
{% endfor %}
{% endmacro %}

{% macro paginationDetails() %}
        $limit = $request->get('limit', $this->getParameter('limit'));
        $currentPage = $request->get('page', 1);
        
        $searchData['query'] = $request->query->get('query');
{% endmacro %}
