{% import 'crud/actions/macro/common.php.twig' as commonMacro %}
{% if isRecursiveAssociation %}
{% set parameters = commonMacro.associateParameter(recursiveAssocFields) %}
{% endif %}
{% if not isOneToOne %}
    /**
     * Method is used to delete a {{ entity }} entity
     *
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to delete a {{ entity }} entity",
     * )
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_delete")
     * @Method("DELETE")
{% endif %}
{% if isRecursiveAssociation %}
{{ commonMacro.paramConverter(recursiveAssocFields, entity_bundle) }}
    */
    public function deleteAction(Request $request, {{ parameters|trim(side='right') }}, $id)
    {
{% elseif (association == 1) and (isManyToMany == false) %}
     * @ParamConverter("{{ assocEntitySingular }}Id", class="{{ entity_bundle }}:{{ assocEntityClass }}", options={"id" = "{{ assocEntityTableize }}_id"})
     */
    public function deleteAction(Request $request, ${{ assocEntitySingular }}Id, $id)
    {
{% else %}
     */
    public function deleteAction(Request $request, $id)
    {
{% endif %}
        $em = $this->getEntityManger();
{# Block to handle recursive association. Get relational entity object and also map 
into current entity object by using recusrive route id's #}
{% if isRecursiveAssociation %}
        ${{ assocEntitySingular }} = $em
                ->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')
                ->findOneBy(array(
                    '{{ recursiveParentIdentifier }}' => ${{ recursiveParent }}Id,
                    '{{ recursiveChild }}' => ${{ recursiveChild }}Id
                ));
        ${{ entity_singularized }} = $em
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->findOneBy(array(
                    '{{ identifier }}' => $id,
                    '{{ recursiveParent }}' => ${{ assocEntitySingular }}
                ));
{# Block to handle Many To One relationship entity. Map relational entity object into
current entity object by using associate id #}
{% elseif (association == 1) and (isManyToMany == false) %}
        ${{ entity_singularized }} = $em
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->findOneBy(array(
                    '{{ associate_field }}' => ${{ assocEntitySingular }}Id,
                    '{{ identifier }}' => $id,
                ));
{% else %}
        ${{ entity_singularized }} = $em
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->find($id);
{% endif %}
{# Block to handle delete uploaded files from directory, If entity have any file upload
fileds. #}
{% if file_upload_field != null %}
        $fileDirectory = $this->getParameter('file_upload_directory') . '{{ entity_class }}/';
        $file = $fileDirectory . ${{ entity_singularized }}->get{{ file_upload_field|capitalize }}();
        
        unlink($file);
{% endif %}    
        if (!${{ entity_singularized }}) {
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
        } else {
            $em->remove(${{ entity_singularized }});
            $em->flush();
            
            return $this->renderResponse(null, '{{ entity }} deleted successfully');
        } 
    }
{% else %}
    /**
     * Method is used to delete mapped {{ entity }} and {{ oneToOneAssocFields.target_entity }}
     * 
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to delete mapped {{ entity }} and {{ oneToOneAssocFields.target_entity }}",
     * )
     * @ParamConverter("{{ oneToOneAssocFields.target_entity|lower }}Id", class="{{ entity_bundle }}:{{ oneToOneAssocFields.target_entity }}", options={"id" = "{{ oneToOneAssocFields.target_entity_tablize }}_id"})
     */
    public function deleteAction(Request $request, ${{ oneToOneAssocFields.target_entity|lower }}Id)
    {
        $em = $this->getEntityManger();
        
        ${{ entity_singularized }} = $em
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->findOneBy(array(
                    '{{ oneToOneAssocFields.field_name }}' => ${{ oneToOneAssocFields.target_entity|lower }}Id
                ));
        
        if (!${{ entity_singularized }}) {
        
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
        } else {
            $em->remove(${{ entity_singularized }});
            $em->flush();
            
            return $this->renderResponse(null, '{{ entity }} deleted successfully');
        }
    }
{% endif %}
