{% import 'crud/actions/macro/common.php.twig' as commonMacro %}
{% if isRecursiveAssociation %}
{% set parameters = commonMacro.associateParameter(recursiveAssocFields) %}
{% endif %}
{% if not isOneToOne %}
    /**
     * Method is used to update the existing {{ entity }} informations
     *
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to update the existing {{ entity }} informations",
     *  input="{{ namespace }}\Form\{{ entity_class }}Type"
     * )
{% if 'annotation' == format %}
     * @Route("/{id}/edit", name="{{ route_name_prefix }}_edit")
     * @Method({"GET", "POST"})
{% endif %}
{% if isRecursiveAssociation %}
{{ commonMacro.paramConverter(recursiveAssocFields, entity_bundle) }}
    */
    public function editAction(Request $request, {{ parameters|trim(side='right') }}, $id)
    {
{% elseif (association == 1) and (isManyToMany == false) %}
     * @ParamConverter("{{ assocEntitySingular }}Id", class="{{ entity_bundle }}:{{ assocEntityClass }}", options={"id" = "{{ assocEntityTableize }}_id"})
     */
    public function editAction(Request $request, ${{ assocEntitySingular }}Id, $id)
    {
{% else %}
     */
    public function editAction(Request $request, $id)
    {
{% endif %}
        $em = $this->getEntityManger();
        ${{ entity_singularized }} = $em
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->find($id);
{# Block to handle recursive association. Get relational entity object 
by using recusrive route id's #}
{% if isRecursiveAssociation %}    
        ${{ assocEntitySingular }} = $em
                ->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')
                ->findOneBy(array(
                    '{{ recursiveParentIdentifier }}' => ${{ recursiveParent }}Id,
                    '{{ recursiveChild }}' => ${{ recursiveChild }}Id
                ));    
{# Block to handle Many To One relationship entity. Get relational entity object
by using associate id #}
{% elseif (association == 1) and (isManyToMany == false) %}
        ${{ assocEntitySingular }} = $em->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')->find(${{ assocEntitySingular }}Id);
{% endif %}        
        if (!${{ entity_singularized }}) {
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
        }
{% if file_upload_field != null %}
        $oldFileName = ${{ entity_singularized }}->get{{ file_upload_field|capitalize }}();
{% endif %}
        $form = $this->createForm('{{ namespace }}\Form\{{ entity_class }}Type', ${{ entity_singularized }});
        
        $form->handleRequest($request);
                
        if ($form->isSubmitted() &&  $form->isValid()) {
{# Block to handle recursive association. Set relational entity object into current object #}
{% if isRecursiveAssociation %}        
            if (${{ assocEntitySingular }}) {
                ${{ entity_singularized }}->set{{ associate_field|capitalize }}(${{ assocEntitySingular }});
            } else {
                return $this->renderResponse(null, "Please provide valid {{ recursiveParent }} and {{ recursiveChild }} Id's", 400);
            }
{# Block to handle many to one association. Set relational entity object into current object #}
{% elseif (association == 1) and (isManyToMany == false) %}
            ${{ entity_singularized }}->set{{ associate_field|capitalize }}(${{ assocEntitySingular }});
{% endif %}
{# Block to handle file uploads, If entity have any file upload fileds. #}
{% if file_upload_field != null %}
            $file = ${{ entity_singularized }}->get{{ file_upload_field|capitalize }}();
            $fileDirectory = $this->getParameter('file_upload_directory') . '{{ entity_class }}/';
            $fileName = '{{ entity_class }}_' . uniqid() . '_' . time() . '.' . $file->guessExtension();
            $file->move(
                $fileDirectory,
                $fileName
            );
            
            if ($oldFileName !== $fileName) {
                $oldFile = $fileDirectory . $oldFileName;
                unlink($oldFile);
            }

            ${{ entity_singularized }}->set{{ file_upload_field|capitalize }}($fileName);
{% endif %}
            $em->persist(${{ entity_singularized }});
            $em->flush();
            
            return $this->renderResponse(${{ entity_singularized }});
        } 
        
        return $this->sendError($form->getErrors(true));
    }
{% endif %}   
