{% import 'crud/actions/macro/common.php.twig' as commonMacro %}
{% if isRecursiveAssociation %}
{% set parameters = commonMacro.associateParameter(recursiveAssocFields) %}
{% endif %} 
{% if not isOneToOne %}
    /**
     * Method used to list all {{ entity }} entities.
     * 
     * If limit doesn't given, the default limit {{ pagination.limit }}
     * has taken.
     *
     * @ApiDoc(
     *  resource=true,
     *  description="Method used to list all {{ entity }} entities.",
     * )
     * 
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
{% endif %}
{% if isRecursiveAssociation %}
{{ commonMacro.paramConverter(recursiveAssocFields, entity_bundle) }}
    */
    public function indexAction(Request $request, {{ parameters|trim(side='right') }})
    {
{% elseif (association == 1) and (isManyToMany == false) %}
     * @ParamConverter("{{ assocEntitySingular }}Id", class="{{ entity_bundle }}:{{ assocEntityClass }}", options={"id" = "{{ assocEntityTableize }}_id"})
     */
    public function indexAction(Request $request, ${{ assocEntitySingular }}Id)
    {
{% else %}
     */
    public function indexAction(Request $request)
    {
{% endif %}
{# Block to handle Recusrive association relationship entity #}
{% if isRecursiveAssociation %}
{{ commonMacro.paginationDetails() }}
        ${{ assocEntitySingular }} = $this->getEntityManger()
                ->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')
                ->findOneBy(array(
                    '{{ recursiveParentIdentifier }}' => ${{ recursiveParent }}Id,
                    '{{ recursiveChild }}' => ${{ recursiveChild }}Id
                ));
        $searchData['assocEntity'] = array(
            '{{ recursiveParent }}' => ${{ assocEntitySingular }}
        );
        ${{ entity_singularized }} = $this->get('core.search')
                ->search('{{ entity_bundle }}:{{ entity }}', $searchData, $currentPage, $limit, false);
{# Block to handle Many To One relationship entity #}
{% elseif (association == 1) and (isManyToMany == false) %}
{{ commonMacro.paginationDetails() }}
        $searchData['assocEntity'] = array(
            '{{ associate_field }}' => ${{ assocEntitySingular }}Id
        );
        ${{ entity_singularized }} = $this->get('core.search')
                ->search('{{ entity_bundle }}:{{ entity }}', $searchData, $currentPage, $limit, false);
{# Block to handle normal relationship entity #}
{% else %}
{{ commonMacro.paginationDetails() }}
        ${{ entity_singularized }} = $this->get('core.search')
                ->search('{{ entity_bundle }}:{{ entity }}', $searchData, $currentPage, $limit);
{% endif %}
        if (!${{ entity_singularized }}) {
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
        } else {
            return $this->renderResponse(${{ entity_singularized }});
        }
    }  
{% endif %}  
