{% import 'crud/actions/macro/common.php.twig' as commonMacro %}
{% if isRecursiveAssociation %}
{% set parameters = commonMacro.associateParameter(recursiveAssocFields) %}
{% endif %}
{% if not isOneToOne %}
    /**
     * Method is used to add new {{ entity }} informations
     * 
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to add new {{ entity }} informations",
     *  input="{{ namespace }}\Form\{{ entity_class }}Type"
     * )
     * 
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method({"GET", "POST"}) 
{% endif %}
{% if isRecursiveAssociation %}
{{ commonMacro.paramConverter(recursiveAssocFields, entity_bundle) }}
    */
    public function newAction(Request $request, {{ parameters|trim(side='right') }})
    {
{% elseif (association == 1) and (isManyToMany == false) %}
     * @ParamConverter("{{ assocEntitySingular }}Id", class="{{ entity_bundle }}:{{ assocEntityClass }}", options={"id" = "{{ assocEntityTableize }}_id"})
     */
    public function newAction(Request $request, ${{ assocEntitySingular }}Id)
    {
{% else %}
     */
    public function newAction(Request $request)
    {
{% endif %}
        $em = $this->getEntityManger();
{# Block to handle recursive association. Get relational entity object 
by using recusrive route id's #}
{% if isRecursiveAssociation %}    
        ${{ assocEntitySingular }} = $em
                ->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')
                ->findOneBy(array(
                    '{{ recursiveParentIdentifier }}' => ${{ recursiveParent }}Id,
                    '{{ recursiveChild }}' => ${{ recursiveChild }}Id
                ));
{# Block to handle Many To One relationship entity. Get relational entity object
by using associate id #}
{% elseif (association == 1) and (isManyToMany == false) %}
        ${{ assocEntitySingular }} = $em
                ->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')
                ->find(${{ assocEntitySingular }}Id);
{% endif %}
        ${{ entity_singularized }} = new {{ entity_class }}();
        $form   = $this->createForm('{{ namespace }}\Form\{{ entity_class }}Type', ${{ entity_singularized }});
        
        $form->handleRequest($request);
                
        if ($form->isSubmitted() && $form->isValid()) {
{# Block to handle recursive association. Set relational entity object into current object #}
{% if isRecursiveAssociation %}        
            if (${{ assocEntitySingular }}) {
                ${{ entity_singularized }}->set{{ associate_field|capitalize }}(${{ assocEntitySingular }});
            } else {
                return $this->renderResponse(null, "Please provide valid {{ recursiveParent }} and {{ recursiveChild }} Id's", 400);
            }
{# Block to handle many to one association. Set relational entity object into current object #}
{% elseif (association == 1) and (isManyToMany == false) %}
            ${{ entity_singularized }}->set{{ associate_field|capitalize }}(${{ assocEntitySingular }});
{% endif %}
{# Block to handle file uploads, If entity have any file upload fileds. #}     
{% if file_upload_field != null %}
            $file = ${{ entity_singularized }}->get{{ file_upload_field|capitalize }}();
            $fileDirectory = $this->getParameter('file_upload_directory') . '{{ entity_class }}/';
            $fileName = '{{ entity_class }}_' . uniqid() . '_' . time() . '.' . $file->guessExtension();
            $file->move(
                $fileDirectory,
                $fileName
            );
            
            ${{ entity_singularized }}->set{{ file_upload_field|capitalize }}($fileName);
{% endif %}

            $em->persist(${{ entity_singularized }});
            $em->flush();
            
            return $this->renderResponse(${{ entity_singularized }});
        } 
        
        return $this->sendError($form->getErrors(true));
    }
{# Block to handle Many To Many association manage action #}
{% if (isManyToMany == true) and (isOwingSide == true) %}
{% for field in assoc_many_to_many_fields %}
    /**
    * Method is used to manage {{ entity }} and {{ field.target_entity_class }}
    *
    * @ApiDoc(
    *  resource=true,
    *  description="Method is used to manage {{ entity }} and {{ field.target_entity_class }}",
    *  input="{{ namespace }}\Form\{{ entity_class }}{{ field.target_entity_class }}Type"
    * )
    * @ParamConverter("{{ entity_singularized }}Id", class="{{ entity_bundle }}:{{ entity }}", options={"id" = "{{ entityTableize }}_id"})
    */
    public function manage{{ entity }}{{ field.target_entity_class }}Action(Request $request, ${{ entity_singularized }}Id)
    {
        $em = $this->getEntityManger();
        ${{ entity_singularized }} = $this->getEntityManger()
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->find(${{ entity_singularized }}Id);
        
        if (!${{ entity_singularized }}) {
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
        }
        
        $form = $this->createForm('{{ namespace }}\Form\{{ entity_class }}{{ field.target_entity_class }}Type', ${{ entity_singularized }});
        $form->handleRequest($request);
                
        if ($form->isSubmitted() && $form->isValid()) {
            $em->persist(${{ entity_singularized }});
            $em->flush();
            
            return $this->renderResponse(null, '{{ entity }} and {{ field.target_entity_class }} mapping successfully updated');
        }
        
        return $this->sendError($form->getErrors(true));
    }
{% endfor %}
{% endif %}
{% else %}
    /**
     * Method is used to mapping {{ entity }} and {{ oneToOneAssocFields.target_entity }}
     * 
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to mapping {{ entity }} and {{ oneToOneAssocFields.target_entity }}",
     *  input="{{ namespace }}\Form\{{ entity_class }}Type"
     * )
     * @ParamConverter("{{ oneToOneAssocFields.target_entity|lower }}Id", class="{{ entity_bundle }}:{{ oneToOneAssocFields.target_entity }}", options={"id" = "{{ oneToOneAssocFields.target_entity_tablize }}_id"})
     */
    public function manage{{ entity }}{{ oneToOneAssocFields.target_entity }}Action(Request $request, ${{ oneToOneAssocFields.target_entity|lower }}Id)
    {
        $em = $this->getEntityManger();
        
        ${{ entity_singularized }} = new {{ entity_class }}();
        
        $form = $this->createForm('{{ namespace }}\Form\{{ entity_class }}Type', ${{ entity_singularized }});
        
        $form->handleRequest($request);
                
        if ($form->isSubmitted() && $form->isValid()) {
            ${{ entity_singularized }}->set{{ oneToOneAssocFields.field_name }}(${{ oneToOneAssocFields.target_entity|lower }}Id);
            
            $em->persist(${{ entity_singularized }});
            $em->flush();
            
            return $this->renderResponse(${{ entity_singularized }});
        }
        
        return $this->sendError($form->getErrors(true));
    }
{% endif %}