{% import 'crud/actions/macro/common.php.twig' as commonMacro %}
{% if isRecursiveAssociation %}
{% set parameters = commonMacro.associateParameter(recursiveAssocFields) %}
{% endif %}
{% if not isOneToOne %}
    /**
     * Method is used to Finds and displays a {{ entity }} informations
     *
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to Finds and displays a {{ entity }} informations",
     * )
     * 
{% if 'annotation' == format %}
     * @Route("/{id}", name="{{ route_name_prefix }}_show")
     * @Method("GET")
{% endif %}
{% if isRecursiveAssociation %}
{{ commonMacro.paramConverter(recursiveAssocFields, entity_bundle) }}
    */
    public function showAction($id, {{ parameters|trim(side='right') }})
    {
{% elseif (association == 1) and (isManyToMany == false) %}
     * @ParamConverter("{{ assocEntitySingular }}Id", class="{{ entity_bundle }}:{{ assocEntityClass }}", options={"id" = "{{ assocEntityTableize }}_id"})
     */
    public function showAction(${{ assocEntitySingular }}Id, $id)
    {
{% else %}
     */
    public function showAction({{ entity_class }} ${{ entity_singularized }})
    {
{% endif %}
{# Block to handle recursive association. Get relational entity object and also map 
into current entity object by using recusrive route id's #}
{% if isRecursiveAssociation %}    
        ${{ assocEntitySingular }} = $this->getEntityManger()
                ->getRepository('{{ entity_bundle }}:{{ assocEntityClass }}')
                ->findOneBy(array(
                    '{{ recursiveParentIdentifier }}' => ${{ recursiveParent }}Id,
                    '{{ recursiveChild }}' => ${{ recursiveChild }}Id
                ));
        ${{ entity_singularized }} = $this->getEntityManger()
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->findOneBy(array(
                    '{{ identifier }}' => $id,
                    '{{ recursiveParent }}' => ${{ assocEntitySingular }}
                ));
{# Block to handle Many To One relationship entity. Map relational entity object into
current entity object by using associate id #}
{% elseif (association == 1) and (isManyToMany == false) %}
        ${{ entity_singularized }} = $this->getEntityManger()
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->findBy(array(
                    '{{ associate_field }}' => ${{ assocEntitySingular }}Id,
                    '{{ identifier }}' => $id,
                ));
{% endif %}
        if (!${{ entity_singularized }}) {
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
        }
        
        return $this->renderResponse(${{ entity_singularized }});
    }
{% else %}
    /**
     * Method is used to show mapped {{ entity }} and {{ oneToOneAssocFields.target_entity }}
     * 
     * @ApiDoc(
     *  resource=true,
     *  description="Method is used to show mapped {{ entity }} and {{ oneToOneAssocFields.target_entity }}",
     *  input="{{ namespace }}\Form\{{ entity_class }}Type"
     * )
     * @ParamConverter("{{ oneToOneAssocFields.target_entity|lower }}Id", class="{{ entity_bundle }}:{{ oneToOneAssocFields.target_entity }}", options={"id" = "{{ oneToOneAssocFields.target_entity_tablize }}_id"})
     */
     public function showAction(${{ oneToOneAssocFields.target_entity|lower }}Id)
    {
        ${{ entity_singularized }} = $this->getEntityManger()
                ->getRepository('{{ entity_bundle }}:{{ entity }}')
                ->findOneBy(array(
                    '{{ oneToOneAssocFields.field_name }}' => ${{ oneToOneAssocFields.target_entity|lower }}Id
                ));
                
        if (!${{ entity_singularized }}) {
            return $this->renderResponse(null, '{{ entity }} information not available', 404);
       }
        
        return $this->renderResponse(${{ entity_singularized }});
    }
{% endif %}
