<?php

namespace {{ namespace }}\Form\EventListener;

{% block use_statements %}
use Symfony\Component\Form\FormEvent;
use Symfony\Component\Form\FormEvents;
use Symfony\Component\EventDispatcher\EventSubscriberInterface;
{% endblock use_statements %}

{% block class_definition %}
class {{ manage_method }}Subscriber implements EventSubscriberInterface 
{% endblock class_definition %}
{
{% block class_body %}
    public static function getSubscribedEvents()
    {
        return array(
            FormEvents::PRE_SUBMIT => 'onPreSubmitData',
        );
    }
    
    public function onPreSubmitData(FormEvent $event)
    {
        $modelData = $event->getForm()->getData();
        $reqData = $event->getData();
        
        ${{ field_name }}Collection = $modelData->get{{ field_name|capitalize }}();
        
        $existing{{ tareget_entity_class }}Ids = ${{ field_name }}Collection->map(function($entity) {
                    return $entity->get{{ target_primary_key }}();
                })->toArray();
        
        if (is_array($reqData['{{ field_name }}'])) {
            $reqData['{{ field_name }}'] = array_merge($existing{{ tareget_entity_class }}Ids, $reqData['{{ field_name }}']);
        }
        
        $event->setData($reqData);
    }
{% endblock class_body %}
}
