{% extends 'PetkoparaCrudGeneratorBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - medium index
{% endblock %}

{% block body %}


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2><a href="{{ path('media') }}">Media</a></h2>
        </div>
    </div>
</div> <!-- /#top -->


<div class="row">
    <div class="col-md-12">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    

<div class="row">

        <div class="table-responsive col-md-12">
        <form method="POST" id="bulk_form" action="{{ path('media_bulk_action') }} ">
            <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                {% import "QuickCrudBundle::macros/th_sortable.html.twig" as macros %}
                            <th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'media')}}</th>
                            <th>{{macros.th_sortable('name',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'media')}}</th>
                            <th>{{macros.th_sortable('type',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'media')}}</th>
                            <th>{{macros.th_sortable('urlpath',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'media')}}</th>
                            <th>{{macros.th_sortable('status',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'media')}}</th>
                            <th>{{macros.th_sortable('uploadeddate',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'media')}}</th>
    
                       
                        <th width = "130px">List</th>
                    </tr>
                </thead>
                <tbody>
                    {% for medium in media %}
                    <tr>
                        <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{medium.id}}"/></td>
                        <td><a href="{{ path('media_edit', { 'id': medium.id }) }}">{{ medium.id }}</a></td>
                        <td>{{ medium.name }}</td>
                        <td>{{ medium.type }}</td>
                        <td>{{ medium.urlpath }}</td>
                        <td>{{ medium.status }}</td>
                        <td>{%- if medium.uploadeddate %}{{ medium.uploadeddate|date('Y-m-d') }}{% endif %}</td>
    
                        <td class="actions">
                            <a  onclick="return confirm('Are you sure!');" title="Delete" class="btn btn-danger btn-sm" href="{{ path('media_by_id_delete', { 'id': medium.id}) }}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                            <a title='Show' class="btn btn-info btn-sm" href="{{ path('media_show', { 'id': medium.id }) }}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a  title='Edit' class="btn btn-primary btn-sm" href="{{ path('media_edit', { 'id': medium.id }) }}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>


        </div>
</div> <!-- /#list -->




<div class="row">
    <div class="col-md-4 pull-left">
            <div class="pagination form-inline ">
                <select class = "form-control" name="bulk_action" >
                    <option value="delete">DELETE</option>
                </select>
                <input type="submit" id='bulkSubmitBtn' onclick="return confirm('Are you sure?')" form="bulk_form" class="form-control btn btn-danger btn-sm" disabled>
            </div>
    </div>
    
    <div class='col-md-3 pagination text-center'>
         <p>{{totalOfRecordsString}}</p>
    </div>
 
    <div class="col-md-5 text-right">
         {{ pagerHtml|raw }} 
    </div>
</div> <!-- /#bottom -->



{% endblock %}

