{% extends 'PetkoparaCrudGeneratorBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - medium
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View medium <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ medium.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Name</strong></p>
        <p>
            {{ medium.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Type</strong></p>
        <p>
            {{ medium.type }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Urlpath</strong></p>
        <p>
            {{ medium.urlpath }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Status</strong></p>
        <p>
            {{ medium.status }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Uploadeddate</strong></p>
        <p>
            {% if medium.uploadeddate %}{{ medium.uploadeddate|date('Y-m-d') }}{% endif %}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('media') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('media_edit', { 'id':  medium.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('media_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('media_delete', { 'id': medium.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

