{% extends "CoreBundle:common:loginBase.html.twig" %}

{% block title %} Admin Login {% endblock %}

{% block bodyStyles %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
    <div id="container">
        <form action="{{ path('form_login_check') }}" method="post">
            <img src="{{ asset('image/login_BG.jpg') }}">
            <div id="login" class="text-center">
                <h3> Admin Login </h3>
                <h1 class="glyphicon glyphicon-lock"></h1>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
                <div class="inner-addon left-addon form-group">
                    <i class="glyphicon glyphicon-user"></i>
                    <input type="text" id="username" class="form-control" 
                           name="_username" value="{{ last_username }}" 
                           placeholder="Username" />
                </div>
                <div class="inner-addon left-addon form-group ">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    <input type="password" id="password" class="form-control" 
                           name="_password" placeholder="Password"/>
                </div>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {# If need to redirect page after successfull login we can use this #}
                {#            <input type="hidden" name="_target_path" value="/user/add" />#}
                <input type="submit" value="Login" name="login" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-primary">
            </div>
        </form>  
    </div>
{% endblock %}