{% import 'crud/tests/macro/common.php.twig' as common %}
<?php

namespace {{ namespace }}\Tests\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use CoreBundle\Test\ApiTestCase;
{% if file_upload_field %}
use Symfony\Component\HttpFoundation\File\UploadedFile;
{% endif %}
{% endblock use_statements %}

{% block class_definition %}
class {{ manage_method_name }}ControllerTest extends ApiTestCase
{% endblock class_definition %}
{
{% block class_body %}
{% if (isManyToMany == true) and (isOwingSide == true)  %}
    private function {{ entity_class_lowercase }}Details()
    {
        ${{ entity_class_lowercase }}Data = array(
{{ common.fieldsWithValue(current_entity_fields, file_upload_field) }}
        );       
        
        return ${{ entity_class_lowercase }}Data;
    }
    
{% if file_upload_field %}
{{ common.fileUploadMethod(entity_class_lowercase, current_entity_fields, file_upload_field) }}
{% endif %}    
    
    public function testNew{{ entity_class }}Action()
    {
        $url = $this->generateUrl('{{ route_name_prefix }}_new');

        $fieldWithValues = $this->{{ entity_class_lowercase }}Details();
{% if file_upload_field %}
        $fileUploadFields = $this->{{ entity_class_lowercase }}FileUploadField();
        $crawler = $this->doRequest('POST', $url, $fieldWithValues, $fileUploadFields);
{% else %}
        $crawler = $this->doRequest('POST', $url, $fieldWithValues);
{% endif %}
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for new {{ entity_class }} POST action");
        
        ${{ entity_class_lowercase }}Result = $this->getResponseInArray($this->client->getResponse());
        $this->setId(${{ entity_class_lowercase }}Result['{{ identifier }}']);
        
    }
    
{{ common.associateFields(assoc_entity_fields, recursiveChild) }}

    public function testManage{{ manage_method_name }}Action()
    {
        $url = $this->generateUrl('{{ route_name_prefix }}_{{ field_name }}_manage', array(
            '{{ entity_class_tableize }}_id' => $this->getId(),
        ));
        
        $fieldMapping = array(
            '{{ field_name }}' => array(
                0 => $this->get{{ target_entity_class }}Id()
            )
        );
        
        $crawler = $this->doRequest('POST', $url, $fieldMapping);
        
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for manage {{ entity_class }} POST action");
    }
{% endif %}

{% endblock class_body %}
}