{% import 'crud/tests/macro/common.php.twig' as common %}
<?php

namespace {{ namespace }}\Tests\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use CoreBundle\Test\ApiTestCase;
{% if file_upload_field %}
use Symfony\Component\HttpFoundation\File\UploadedFile;
{% endif %}
{% endblock use_statements %}

{% block class_definition %}
class {{ entity_class }}ControllerTest extends ApiTestCase
{% endblock class_definition %}
{
{% block class_body %}
{% if (association == 1) and (isManyToMany == false) %}
{{ common.associateFields(assoc_entity_fields, recursiveChild) }}
{% endif %}
    private function {{ entity_class_lowercase }}Details()
    {
        ${{ entity_class_lowercase }}Data = array(
{{ common.fieldsWithValue(current_entity_fields, file_upload_field) }}
        );       
        
        return ${{ entity_class_lowercase }}Data;
    }
    
{% if file_upload_field %}
{{ common.fileUploadMethod(entity_class_lowercase, current_entity_fields, file_upload_field) }}
{% endif %}
{% if not isOneToOne %}
    public function testIndexAction()
    {
{% if (association == 1) and (isManyToMany == false) %}
        $url = $this->generateUrl('{{ route_name_prefix }}', array(
{% for tableName, columns in assoc_entity_fields %}
{% set table_name = tableName|split('_')|join()|title %}
            '{{ tableName }}_id' => $this->get{{ table_name }}Id(),
{% endfor %}
        ));        
{% else %}
        $url = $this->generateUrl('{{ route_name_prefix }}');
{% endif %}

        $crawler = $this->doRequest('GET', $url);
{% if (association == 1) and (isManyToMany == false) %}
        $this->assertTrue($this->client->getResponse()->isNotFound(), "{{ entity_class }} details not found");
{% else %}
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for index {{ entity_class }} GET actions");
{% endif %}    
    }
    
    public function testNewAction()
    {
{% if (association == 1) and (isManyToMany == false) %}
        $url = $this->generateUrl('{{ route_name_prefix }}_new', array(
{% for tableName, columns in assoc_entity_fields %}
{% set table_name = tableName|split('_')|join()|title %}
            '{{ tableName }}_id' => $this->get{{ table_name }}Id(),
{% endfor %}
        ));
{% else %}
        $url = $this->generateUrl('{{ route_name_prefix }}_new');
{% endif %}
        $fieldWithValues = $this->{{ entity_class_lowercase }}Details();
{% if file_upload_field %}
        $fileUploadFields = $this->{{ entity_class_lowercase }}FileUploadField();
        $crawler = $this->doRequest('POST', $url, $fieldWithValues, $fileUploadFields);
{% else %}
        $crawler = $this->doRequest('POST', $url, $fieldWithValues);
{% endif %}
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for new {{ entity_class }} POST action");
        
        ${{ entity_class_lowercase }}Result = $this->getResponseInArray($this->client->getResponse());
        $this->setId(${{ entity_class_lowercase }}Result['{{ identifier }}']);
        
    }
    
    public function testShowAction()
    {
{{ common.associateRoute('show', association, isManyToMany, route_name_prefix, assoc_entity_fields) }}
        $fieldWithValues = $this->{{ entity_class_lowercase }}Details();
        $crawler = $this->doRequest('GET', $url);
        
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for show {{ entity_class }} GET action");
        
        $this->assertResponseMatch($this->client->getResponse(), $fieldWithValues);
    }
    
    public function testEditAction()
    {
{{ common.associateRoute('edit', association, isManyToMany, route_name_prefix, assoc_entity_fields) }}
        $fieldWithValues = $this->{{ entity_class_lowercase }}Details();
{% for field in current_entity_fields %}
{% if field.type == 'string' and field.name != file_upload_field or field.type == 'text' %}
        $fieldWithValues['{{ field.name }}'] = '{{ field.value|reverse }}';
{% endif %}
{% if field.type == 'date' %}
        $fieldWithValues['{{ field.name }}'] = '1997-07-07';
{% elseif field.type == 'time' or field.type == 'datetime' %}
        $fieldWithValues['{{ field.name }}'] = '1995-05-05 10:10:10';
{% endif %}
{% if field.type == 'integer' or field.type == 'smallint' or field.type == 'bigint' %}
        $fieldWithValues['{{ field.name }}'] = 3;
{% endif %}
{% if field.type == 'boolean' %}
        $fieldWithValues['{{ field.name }}'] = 0;
{% endif %}
{% if field.type == 'float' or field.type == 'decimal' %}
        $fieldWithValues['{{ field.name }}'] = 20.002;
{% endif %}
{% if field.type == 2 %}
        $fieldWithValues['{{ field.name }}'] = 1;
{% endif %}
{% endfor %}
{% if file_upload_field %}
        $editFile = 'Edit_' . strstr($this->getParameter('testing_file_name'), '.', true) . '.docx';
        $fileUploadFields = $this->{{ entity_class_lowercase }}FileUploadField($editFile);
        $crawler = $this->doRequest('POST', $url, $fieldWithValues, $fileUploadFields);
{% else %}
        $crawler = $this->doRequest('POST', $url, $fieldWithValues);
{% endif %}
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for update {{ entity_class }} POST action");
        
{{ common.associateRoute('show', association, isManyToMany, route_name_prefix, assoc_entity_fields) }}
        
        $crawler = $this->doRequest('GET', $url);
        
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for {{ entity_class }} GET action");
        
        $this->assertResponseMatch($this->client->getResponse(), $fieldWithValues);
    }
    
    public function testDeleteAction()
    {
{{ common.associateRoute('delete', association, isManyToMany, route_name_prefix, assoc_entity_fields) }}
        $crawler = $this->doRequest('DELETE', $url);
        
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for DELETE");

{{ common.associateRoute('show', association, isManyToMany, route_name_prefix, assoc_entity_fields) }}
        
        $crawler = $this->doRequest('GET', $url);
        
        $this->assertNotFoundException($this->client->getResponse(), "Unexpected HTTP status code for {{ entity_class }} GET after delete action");
    }
    
{% else %}
    public function testManageAction()
    {
        $url = $this->generateUrl('{{ route_name_prefix }}_{{ assoc_entity|lower }}_manage', array(
            '{{ assoc_entity_tableize }}_id' => $this->get{{ assoc_entity }}Id()
        ));

        $fieldWithValues = $this->{{ entity_class_lowercase }}Details();

        $crawler = $this->doRequest('POST', $url, $fieldWithValues);

        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for new {{ entity_class }} POST action");
    }
    
    public function testShowAction()
    {
        $url = $this->generateUrl('{{ route_name_prefix }}_{{ assoc_entity|lower }}_manage', array(
            '{{ assoc_entity_tableize }}_id' => $this->get{{ assoc_entity }}Id()
        ));

        $fieldWithValues = $this->{{ entity_class_lowercase }}Details();

        $crawler = $this->doRequest('GET', $url);
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for show {{ entity_class }} GET action");

        $this->assertResponseMatch($this->client->getResponse(), $fieldWithValues);
    }
    
    public function testDeleteAction()
    {
        $url = $this->generateUrl('{{ route_name_prefix }}_{{ assoc_entity|lower }}_manage', array(
            '{{ assoc_entity_tableize }}_id' => $this->get{{ assoc_entity }}Id()
        ));

        $crawler = $this->doRequest('DELETE', $url);
        $this->assertSuccessCode($this->client->getResponse(), "Unexpected HTTP status code for DELETE");

        $url = $this->generateUrl('{{ route_name_prefix }}_{{ assoc_entity|lower }}_manage', array(
            '{{ assoc_entity_tableize }}_id' => $this->get{{ assoc_entity }}Id()
        ));

        $crawler = $this->doRequest('GET', $url);
        $this->assertNotFoundException($this->client->getResponse(), "Unexpected HTTP status code for {{ entity_class }} GET after delete action");
    }
{% endif %}
{% endblock class_body %}
}
